<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">projects</h3>
  </div>
  <div class="panel-body">
	<div class="table-responsive">
		<table class="table table-bordered table-hover" id="projects">
		<thead>
			<tr>
				<th>#</th>
				<th scope="col">Name</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(projects, function(project, index) {%>
			<tr>
				<td><%= ++index %></td>
				<td><%= project.name %></td>
				<%if (project.active) { %>
				<td class="dw-active">
					Active<a href="/project/deactivate?id=<%= project.id %>" class="btn btn-danger btn-xs pull-right" data-toggle="tooltip" data-placement="left" title="disable this project" >Disable&nbsp;</a>

				<% } else {%>
				<td class="dw-inactive">
					Disabled<a href="/project/activate?id=<%= project.id %>" class="btn btn-success btn-xs pull-right" data-toggle="tooltip" data-placement="left" title="activate this project" >Activate</a>
				<% } %>
				</td>
			</tr>
			<% });%>
			<% _.each(projects, function(project, index) {%>
			<tr>
				<td><%= ++index %></td>
				<td><%= project.name %></td>
				<%if (project.active) { %>
				<td class="dw-active">
					Active<a href="/project/deactivate?id=<%= project.id %>" class="btn btn-danger btn-xs pull-right" data-toggle="tooltip" data-placement="left" title="disable this project" >Disable&nbsp;</a>

				<% } else {%>
				<td class="dw-inactive">
					Disabled<a href="/project/activate?id=<%= project.id %>" class="btn btn-success btn-xs pull-right" data-toggle="tooltip" data-placement="left" title="activate this project" >Activate</a>
				<% } %>
				</td>
			</tr>
			<% });%>
			<% _.each(projects, function(project, index) {%>
			<tr>
				<td><%= ++index %></td>
				<td><%= project.name %></td>
				<%if (project.active) { %>
				<td class="dw-active">
					Active<a href="/project/deactivate?id=<%= project.id %>" class="btn btn-danger btn-xs pull-right" data-toggle="tooltip" data-placement="left" title="disable this project" >Disable&nbsp;</a>

				<% } else {%>
				<td class="dw-inactive">
					Disabled<a href="/project/activate?id=<%= project.id %>" class="btn btn-success btn-xs pull-right" data-toggle="tooltip" data-placement="left" title="activate this project" >Activate</a>
				<% } %>
				</td>
			</tr>
			<% });%>
		</tbody>
	</table>

	</div>

  </div>
</div>